body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  text-align: center;
  margin: 1px;
  padding: 1px;
  border: 1px solid black;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.897);
  line-height: auto;
}

#cabecalho {
  top: 0;
  position: fixed;
  margin: 1px;
  padding: 1px;
  border: 1px solid black;
}

#imagem {
  margin-top: 100px;
  position: absolute;
  z-index: 2;
  height: 100vh;
  background-color: rgba(56, 64, 61, 0.871);
  border-radius: 60px 60px 0px 0px;
  left: 10px;
  width: 120px;
  
}
#minha_foto{
  height: 100px;
  border-radius: 100%;
  border: 3px solid white;
  position: absolute;
  left: 8px;
  top: 10px;
}

.lado-esquerdo {
  width: 200px;
  position: absolute;
  left: 180px;
  z-index: 4;
  top: 100px;
}


#corpo2 {
  width: 300px;
  position: absolute;
  left: 400px;
  z-index: 1;
  top: 100px;
}
.lado-direito {
  position: absolute;
  left: 100px;
  z-index: 2;
  top: 400px;
  width: 300px;

}

#rodape {
  position: absolute;
  top: 700px;
  z-index: 3;
  left: 100px;
}
